html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*small*/
@media(min-width: 768px){
    .container{
        width: 750px;
    }
}
@media(min-width: 992px){
    .container{
        width: 970px;
    }
}
@media(min-width: 1200px){
    .container{
        width: 1270px;
    }
}
/* ////////////////////////////////////////////////////////////////////////////////// */
.main-title{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 auto 50px;
    font-size: 30px;
    text-transform: uppercase;
    width: fit-content;
    position: relative;
    z-index: 3;
    transition: 0.3s;
}
.main-title:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:rgb(80, 163, 241);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    visibility: hidden;
}
.main-title:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:rgb(80, 163, 241);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    visibility: hidden;
}
.main-title:hover::before{
    z-index: -1;
    animation-name: left;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    visibility: visible;
}
.main-title:hover::after{
    z-index: -1;
    animation-name: right;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    visibility: visible;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition: 0.5s;
    transition-delay: 0.3s;
}
@keyframes left{
    50%{
        left: 0;
        width: 10px;
        height: 10px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
@keyframes right{
    50%{
        right: 0;
        width: 10px;
        height: 10px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
/*doctors /////////////////////////////////////////////////////////// */
.doctor{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.doctor .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 30px;
}
.doctor .doc-box{
    position: relative; 
}
.doctor .doc-box:before{
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s;
}
.doctor .doc-box:after{
    content: "";
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s;
}
.doctor .doc-box:before{
    width: calc(100% - 60px);
    z-index: -2;
}
.doctor .doc-box:after{
    z-index: -1;
    background-color:#e4e4e4 ;
    width: 0;
}
.doctor .doc-box:hover::after{
    width: calc(100% - 60px);
}
.doctor .doc-box .doc-data{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.doctor .doc-box .doc-data img{
    width: calc(100% - 60px);
    transition: 0.3s;
    border-radius: 10px;
}
.doctor .doc-box:hover img{
    filter: grayscale(100%);
}
.doctor .doc-box .doc-data .social-i{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doctor .doc-box .doc-data .social-i a{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.doctor .doc-box .doc-data .social-i a:hover i{
    color: rgb(80, 163, 241);
}
.doctor .doc-box .doc-data .social-i i{
    color: #777;
    transition: 0.3s;
}
.doctor .doc-box .doc-info{
    padding-left: 70px;
}
.doctor .doc-box .doc-info h3{
    margin-top: 15px;
    margin-bottom: 0;
    color: rgb(80, 163, 241);
    font-size: 18px;
    transition: 0.3s;
}
.doctor .doc-box .doc-info p{
    padding-left: 25px;
}
.doctor .doc-box .doc-info button{  
    width: 100px;
    height: 25px;
    background-color:rgb(80, 163, 241);
    color: #e6e6e7;
    border: rgb(80, 163, 241);
    border-radius: 5px;
    text-transform: capitalize;
    transition: 0.3s;
    cursor: pointer;
}
.doctor .doc-box:hover .doc-info h3{
    color: #777;
}
.doctor .doc-box:hover .doc-info button{
    background-color: #777;
}