* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
  }
  .main-title::before,
  .main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title::before {
    left: -30px;
  }
  .main-title::after {
    right: -30px;
  }
  .main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
  }
  .main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
  }
  .main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
  }
  /* End Global Rules */
  /* Start Discount */
.discount {
  height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  .discount .image {
    background-image: url(../Image/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  .discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
  }
  @media (max-width: 991px) {
    .discount .image {
      flex-basis: 100%;
    }
  }
  .discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
  }
  .discount .form h2{
    text-transform: uppercase;
  }
  @media (max-width: 991px) {
    .discount .form {
      flex-basis: 100%;
    }
  }
  .discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
  }
  .discount .form textarea.input {
    resize: none;
    height: 200px;
  }
  .discount .form .input:focus {
    outline: none;
  }
  .discount .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
  }
  .discount .form [type="submit"]:hover {
    background-color: var(--main-color-alt);
  }
  .discount .content {
    text-align: center;
  }
  .discount .content h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .discount .content h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
  }
  .discount .content img {
    width: 300px;
    max-width: 100%;
  }
  