.main-title{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0px auto 50px;
    font-size: 30px;
    text-transform: uppercase;
    width: fit-content;
    position: relative;
    z-index: 3;
    transition: var(--main-trans);
}
.main-title::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    visibility: hidden;
}
.main-title::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    visibility: hidden;
}
.main-title:hover::before{
    z-index: -1;
    animation-name: leftt;
    animation-duration: var(--main-trans);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    visibility: visible;
}
.main-title:hover::after{
    z-index: -1;
    animation-name: rightt;
    animation-duration: var(--main-trans);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    visibility: visible;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition: var(--main-trans);
    transition-delay: 0.3s;
}
@keyframes leftt{
    50%{
        left: 0;
        width: 10px;
        height: 10px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
@keyframes rightt{
    50%{
        right: 0;
        width: 10px;
        height: 10px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}


/* Start Services */
.services{
    padding-top: calc( var(--main-padding) +  60px );
    padding-bottom: var(--main-padding) ;
    position: relative;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.services .serv-box{
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.services .container .serv-box .content {
    padding: 30px;
}
.services .serv-box .img{
    position: relative;
    overflow: hidden;
}
.services .serv-box .img img{
    max-width: 100%;
}
.services .serv-box .img::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 3px);
} 
.services .serv-box .img::after{
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 120px  400px;
    border-color:transparent transparent white transparent;
    transition: var(--main-trans);
}
.services .serv-box:hover .img::after{
    border-width: 0px 0px 100px 0px;
    
}
.services .operations .img::before{
    background-color: #339ce8;
    opacity: 0.3;
}
.services .examination .img::before{
    background-color: #339de8b6;
    opacity: 0.3;
}
.services .consultation .img::before{
    background-color:#339de8a2;
    opacity: 0.3;
}
.services .serv-box h2{
    width: fit-content;
    font-size: 30px;
    margin: auto;
    padding: 18px;
    text-transform: capitalize;
}
.services .serv-box .line{
    width: 60px;
    height: 4px;
    border-radius: 3px;
    margin: auto;
}
.services .operations .line{
    background-color: #339ce8;
}
.services .examination .line{
    background-color:  #339de8d7;
}
.services .consultation .line{
    background-color: #339de8a2;
}

.services .serv-box p{
    color: #777;
    line-height: 2;
    margin: 20px 0;
    text-transform: capitalize;
}
.services .serv-box a{
    display: block;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    border: 3px solid ;
    border-radius: 10px;
    width: fit-content;
    padding: 15px 20px;
    position: relative;
    margin: auto;
}
.services .operations a{
    color:  #339ce8;
    border-color: #339ce8;
}
.services .examination a{
    color: #339de8d7;
    border-color:  #339de8d7;
}
.services .consultation a{
    color: #339de8a2;
    border-color: #339de8a2;
}
.services .operations a::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#339ce8;
    transition: var(--main-trans);
}
.services .operations:hover a{
    color: white;
}
.services .operations:hover a::after{
    width: 100%;
    height: 100%;
    z-index: -2;
}
.services .examination a::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #339de8d7;
    transition: var(--main-trans);
}
.services .examination:hover a{
    color: white;
}
.services .examination:hover a::after{
    width: 100%;
    height: 100%;
    z-index: -2;
}
.services .consultation a::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #339de8a2;
    transition: var(--main-trans);
}
.services .consultation:hover a{
    color: white;
}
.services .consultation:hover a::after{
    width: 100%;
    height: 100%;
    z-index: -2;
}
/* End Services */

/* start reviews */
.reviews{
    background-color: #e7e5e5;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding) ;
    position: relative;
}
.reviews .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
}
.reviews .container .rev-box{
    border: 2px solid transparent;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.225);
    position: relative;
}
.reviews .rev-box .image img {
    position: absolute;
    right: -10px;
    top: -35px;
    width: 100px;
    height: 100px;
    border: 10px solid  #d6d5d5;
    border-radius: 50%;
}
.reviews .rev-box h2{
    text-transform: capitalize;
    padding: 3px 0px;
    /* font-weight: normal; */
}
.reviews .rev-box p{
    color: #777;
    text-transform: capitalize;
    line-height: 25px;
    padding: 7px 0px;
}
.reviews .rev-box .icons{
    color:gold;
}
/* end reviews*/